[hyoo_calc_title_edit]:enabled {
	color: inherit;
	background: transparent;
	width: auto;
	flex: 1000 1 auto;
	box-shadow: none;
	padding: .5rem;
}

[hyoo_calc_current] {
	flex: none;
}

[hyoo_calc_pos] {
	flex: none;
	width: 2.5rem;
	font-family: var(--mol_skin_font_monospace);
}	

[hyoo_calc_hint] {
	max-width: none;
	padding: 0;
}

[hyoo_calc_hint_trigger] {
	align-items: center;
}

[hyoo_calc_cells][hyoo_calc_cells] {
	margin: 0;
}

[hyoo_calc_col_head] ,
[hyoo_calc_row_head] {
	font-family: var(--mol_skin_font_monospace);
	background: var(--mol_theme_back);
	color: var(--mol_theme_shade);
	user-select: none;
	font-weight: inherit;
}

[hyoo_calc_col_head] {
	text-align: left;
}

[hyoo_calc_row_head] {
	min-width: 2ch;
	text-align: right;
}

[hyoo_calc_cell] {
	user-select: text;
	background: var(--mol_theme_back);
	border-radius: 0;
}

[hyoo_calc_cell_selected] {
	box-shadow: 0 0 0 1px var(--mol_theme_focus);
	z-index: 1;
}

[hyoo_calc_cell_type="number"] {
	text-align: right;
}
